// Couleurs
$primary-color: #ff6060;
$secondary-color: #ffffff;
$background-color: #f6f6f6;
$text-color: black;

// Tailles d'écran (breakpoints)
$breakpoint-mobile: 425px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1024px;
