@import "../partials/variables";
@import "../partials/mixins";

// Carte logement page "Accueil"

.card {
  width: 100%;
  position: relative;

  .cardImg {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    object-fit: cover;
  }

  .cardTitle {
    display: block;
    position: absolute;
    bottom: 2%;
    padding: 10px 0;
    left: 5%;
    right: 10%;
    height: auto;
    width: 80%;
    line-height: 1.2;
    color: $secondary-color;
    font-weight: 700;
    z-index: 1000;
    margin: 0;
  }

  @include respond-to(desktop) {
    .cardTitle {
      font-size: 11px;
    }
  }

  @include respond-to(tablet) {
    .cardImg {
      aspect-ratio: 16/9;
      margin-bottom: $margin-md;
    }

    .cardTitle {
      font-size: 18px;
      padding-bottom: $margin-lg;
    }
  }

  @include respond-to(mobile) {
    height: 255px;
    margin-bottom: $margin-md;

    .cardImg {
      height: 255px;
    }

    .cardTitle {
      top: auto;
      padding-bottom: 2%;
    }
  }
}
