.collapse {
  margin-top: auto;
}

.collapse-container {
  gap: 20px;
  margin: 20px 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.collapse-header {
  background-color: #ff6060;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-header h2 {
  color: white;
  margin: 0;
  font-size: 18px;
}
.chevron-icon {
  color: white;
  cursor: pointer;
  padding-right: 5px;
  transition: transform 0.3s ease;
}

.chevron-icon.rotated {
  transform: rotate(-180deg);
}

.collapse-toggle {
  background: none;
  border: none;
}

.collapse-content {
  padding: 10px 15px;
  background-color: #f6f6f6;
}

.collapse-content ul {
  padding-left: 0px;
  list-style: none;
  line-height: 1.6;
}

.collapse-content p {
  line-height: 1.6;
}

@media (max-width: 767px) {
  .collapse-container {
    margin: 20px 0px;
  }
}
