@import "../partials/variables";
@import "../partials/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 90%;
  margin: auto;
  margin-top: 3%;

  .navigation {
    justify-content: flex-end;
    display: flex;

    a {
      color: $text-color;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      display: flex;
    }

    li {
      display: inline-block;
      margin-left: 35px;
      @include text-style(20px);

      @include respond-to(tablet) {
        font-size: 15px;
      }

      @include respond-to(mobile) {
        font-size: 12px;
        text-transform: uppercase;
        margin-left: 0px;
        width: 100%;
      }
    }
  }

  .nav-active li {
    text-decoration: underline;
  }

  @include respond-to(mobile) {
    a:first-child {
      margin-right: 20px;
    }
  }
}
