@import "../partials/variables";
@import "../partials/mixins";

body {
  font-family: montserrat;
  margin: 0;
}

.home,
.container,
.error,
.accommodation-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  min-height: 600px;

  @include respond-to(mobile) {
    min-height: 0px;
  }
}
