.nav-active {
  position: relative;

  &::after {
    content: "";
    height: 4px;
    width: 0;
    background: red
    position: absolute
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(_50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;

    @-webkit-keyframes anim {
        to {
            width: 100%;
        }
    }
    

  }
};
