.banner img {
  border-radius: 20px;
  width: 100%;
  height: 223px;
  align-items: center;
  text-align: center;
  object-fit: cover;
  -webkit-filter: brightness(50%);
}

.banner p {
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  line-height: 223px;
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  z-index: 1000;
  margin: 0;
}

.banner {
  position: relative;
  height: 223px;
  margin-top: 40px;
  margin-bottom: 40px;
}
