.card {
  width: 100%;
  position: relative;
}
.card .cardImg {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: cover;
}
.card .cardTitle {
  display: block;
  position: absolute;
  bottom: 2%;
  padding: 10px 0;
  left: 5%;
  right: 10%;
  height: auto;
  width: 80%;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  z-index: 1000;
  margin: 0;
}
@media (max-width: 1024px) {
  .card .cardTitle {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .card .cardImg {
    aspect-ratio: 16/9;
    margin-bottom: 22px;
  }
  .card .cardTitle {
    font-size: 18px;
    padding-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .card {
    height: 255px;
    margin-bottom: 20px;
  }
  .card .cardImg {
    height: 255px;
  }
  .card .cardTitle {
    top: auto;
    padding-bottom: 2%;
  }
}
