.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.home {
  width: 90%;
  margin: auto;
}

.navigation {
  justify-content: flex-end;
  display: flex;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation li {
  display: inline-block;
  margin-left: 35px;
  font-weight: 500;
}

.nav-active li {
  text-decoration: underline;
}

.AccommodationList {
  padding: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 50px;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
