.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.navigation {
  justify-content: flex-end;
  display: flex;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation li {
  display: inline-block;
  margin-left: 35px;
  font-weight: 500;
}

.nav-active li {
  text-decoration: underline;
}

@media (max-width: 504px) {
  .navigation li {
    font-size: 15px;
  }
}
