body {
  font-family: montserrat;
}

.home,
.container,
.error,
.accommodation-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  min-height: 600px;
}
@media (max-width: 425px) {
  .home,
  .container,
  .error,
  .accommodation-container {
    min-height: 0px;
  }
}
