.slideshow {
  position: relative;
  height: 415px;
  width: 100%;
}
.slideshow .slideshow-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.slideshow .prev,
.slideshow .next {
  background-color: transparent;
  position: absolute;
  top: 40%;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.slideshow .prev.prev,
.slideshow .next.prev {
  left: 10px;
}
.slideshow .prev.next,
.slideshow .next.next {
  right: 10px;
}
@media (max-width: 425px) {
  .slideshow .prev img,
  .slideshow .next img {
    width: 12px;
    height: 20px;
    object-fit: cover;
  }
}
.slideshow .slideshow-counter {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 500;
  padding: 5px 10px;
}
@media (max-width: 425px) {
  .slideshow {
    height: 255px;
  }
  .slideshow .prev,
  .slideshow .next {
    top: 115px;
    width: 24px;
    height: 24px;
  }
  .slideshow .slideshow-counter {
    display: none;
  }
}
